.maincolour {
	color: #03A6A6;
}

/* TEXT STYLES */

body {
	background-image: url(/static/images/background-stripes.png);
	font-family: "HelveticaNeue-Regular", Helvetica, sans-serif;
	font-size: 13px;
	color: #DDD;
	margin: 0;
}

h1 {
	font-weight: normal;
	font-size: 24px;
	letter-spacing: 3px;
	margin: 5px 0;
}

h2 {
	font-weight: normal;
	font-size: 20px;
	letter-spacing: 2px;
	margin: 5px 0;
}

h3 {
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 1px;
	margin: 5px 0;
}

a {
	color: #03A6A6;
	text-decoration: none;
	border-bottom: 1px dotted;

	&:hover {
		border-bottom-style: solid;
	}
}

a.contImg {
	border: none !important;
}

p {
	margin-bottom: 0px;
	margin-top: 10px;
}

/* MAIN POSITIONING */
#page {
	//position: relative;
}

#main {

	width: 960px;
	margin: 0 auto;

	#content {
		width: 630px;
		padding-right: 10px;
		display: inline-block;
	}

	#sidebar {
		width: 300px;
		padding: 0 10px 15px 10px;
		display: inline-block;
		vertical-align: top;

		//background-color: rgba(100, 100, 100, 0.3);
		background-image: url('/static/images/background-stripes-light.png');
		border-radius: 5px;
		box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.2), 0 0 5px rgba(0, 0, 0, 0.5)
	}
}


#nav {
	z-index: 100;
	position: fixed;
	top: 0px;
	height: 30px;
	width: 100%;
	background-image: url('/static/images/background-stripes-light.png');
	box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.2), 0 0 10px rgba(0, 0, 0, 0.5);

	#small-logo {
		background-image: url('/static/images/event-logo.png');
		width: 100px;
		height: 30px;
		background-size: 100px;
		background-repeat: no-repeat;
		float: left;
		margin-left: 10px;
		margin-top: 1px;
	}
	ul {
		list-style-type: none;
		padding-left: auto;
		padding-left: 0;
		float: right;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		padding-top: 7px;

		li {
			display: inline;
			letter-spacing: 3px;
			border-right: 1px solid rgba(255, 255, 255, 0.3);
			padding: 3px 7px;
			&:last-child {
				border: none;
			}
		}
		a:hover {
			color: white;
			border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
		}
	}
}


/* LOGO */
#eventify_logo {
	background-image: url('/static/images/event-logo.png');
	width: 294px;
	height: 82px;

	position: absolute;
	left: 50%;
	margin-left: -480px;
}

#eventify_text {
	margin-top: 15px;
	padding-top: 5px;
	border-left: 1px dotted rgba(120, 120, 120, 0.5);
	font-size: 18px;
	font-style: italic;
	text-align: right;
	color: white;
	width: 650px;
	position: absolute;
	right: 50%;
	margin-right: -480px;
	text-shadow: 0 0 5px black;
}

#imgGrid {
	//overflow: scroll;
}

/* Navbar */

#nav a, #nav a:hover {
		color: white;
		border-bottom: none;
}

#userlist {
	list-style: none;
	padding: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;

	li {
		border-bottom: 1px dotted rgba(255,255,255,0.2);
		padding: 5px 0;
		&:last-child {
			border: none;
		}
		.soft {
			opacity: 0.5;
		}
	}
}

body > header {
	height: 90px;
}

footer a {
    color: white;
    border-bottom-style: none;
    border-bottom: none;
}
