#image-slides {
	//position: relative;
	//top: 100px;
	margin-top: 100px;
	width: inherit;
	height: 460px;
	overflow: hidden;

	box-shadow: 0 0 7px rgba(255, 255, 255, 0.4);


	#slider {
		position: relative;
		width: 10000px;

		img {
			width: 960px;
			height: auto;
			vertical-align: top;
		}
	}
}

#nav a[href="/"] {
color:#03A6A6;
}