      * {
        margin: 0px;
        padding: 0px;
        
      }
      
      body {
        background-image: url(black_linen_v2.png);
        font-family: "HelveticaNeue-Regular", Helvetica, sans-serif;
      }
      
      header > img {
      height: 100px;
      
      }
      
      header {
        margin-top: 20px;
        width: 960px;
        margin: 80px auto 0px auto;
      }
      
      header h1 {
        color: rgba(255,255,255,1);
        font-weight: normal;
        font-family: "HelveticaNeue-Medium", Helvetica, sans-serif;
        font-size: 56px;
      }
      
    header > nav {
        /*background-color: rgba(255,255,255,1);*/
        color: rgba(255,255,255,1);
        margin: 0 0px 10px 600px;
        
    }
      
    header > nav > ul > a {
        color: rgba(255,255,255,1);
        text-shadow: #000 1px 2px 3px;
        letter-spacing: 3px;
        text-decoration: none;
        border-bottom: 5px solid rgba(255,255,255,0.5);
        margin-right: 10px;
        border-radius: 1px;
        padding-bottom: 3px;
    }
    
    .mainswatch {
    color: #03A6A6;
    }
   
    header > nav > ul > a:hover {
        color: rgba (255,255,255,1);
        border-bottom: 5px solid rgba(255,255,255,1);
       
    }
        
    body > nav div {
        background-color: rgba(0,0,0,0.5);
          
        margin: 0px auto;
        height: 400px;
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }
      
      body > p {
        color: rgba(255,255,255,1);
        font-family: "HelveticaNeue-UltraLight", Helvetica, sans-serif;
        font-size: 35px;
        line-height: 50px;
        width: 960px;
        margin: 80px auto 0px auto;
        text-shadow: 0px 0px 4px rgba(0,0,0,1);
      }
      
      #highlight { 
      /*background: url('wallpaper3.png');
      width: 1920px;
      height: 1080px;*/
      opacity: .25;
      z-index: -1000;
      position: absolute;
      top: -170px;
      left: 0;
      
      
      }
      
      
      
      aside {
        width: 960px;
        margin: 40px auto 0px auto;
        height: 300px;
      }
      
        aside ul {
          display: inline-block;
          width: 320px;
          height: 300px;
          border-right: 1px solid rgba(255,255,255,0.3);
        }
        
        aside ul:last-child {
          border-right: none;
        }
    
