#nav a[href="/profile"] {
color:#03A6A6;
}
#main {


	#content {
		width: 630px;
		padding-right: 10px;
		display: inline-block;
	}

	#sidebar {
		width: 300px;
		padding: 0 10px 15px 10px;
		display: inline-block;
		vertical-align: top;

		background-color: rgba(100, 100, 100, 0.3);
		border-radius: 5px;
		box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.2), 0 0 5px rgba(0, 0, 0, 0.5)
	}
}