<html>
    <head>
        <title>Edit Profile - {! user.firstname !} - Eventify</title>
        <link rel="stylesheet/less" type="text/css" href="/static/css/editprofile.less"/>
        {% include imports.tem %}
    </head>
    
    <body>
    {% include header.tem %}
    <div id='main'>
        <form id='Edit' METHOD='LINK' ACTION='/saveprofile'>
            <p>
                <label>Change first name:</label>
                <input type='text' name='firstname' value={! user.firstname !}>
            </p>
            <p>
                <label>Change last name:</label>
                <input type='text' name='lastname' value={! user.lastname !}>
            </p>
            <p>
                <label>Enter current password *Required*:</label>
                <input type='password' name='checkcurrentpassword'>
            </p>
            <p>
                <label>New password:</label>
                <input type='password' name='newpassword'>
            </p>
            <p>
                <label>Type new password again:</label>
                <input type='password' name='checknewpassword'>
            </p>
            <p>
                <label>New email:</label>
                <input type='text' name='email' value={! user.email !}>
            </p>
      
            <button type='submit'><span class="pen icon"></span>Submit</button>
            <br></br>
        </form>
        
        {% include photoprofileupload.html %}
                
    </div>
        {% inlcude footer.tem %}
    </body>
    
</html>
