<!DOCTYPE html>
<html>
<head>
    <title>Event Creation - Eventify</title>
    <link rel="stylesheet/less" type="text/css" href="/static/css/event.less"/>
    {% include imports.tem %}
    
    <title>Viewing Event - Eventify</title>
</head>
<body>

<style>


#main {

	#sidebar {
		width: 101px;
		padding: 0 10px 15px 10px;
		display: inline-block;
		vertical-align: top;

		background-color: rgba(100, 100, 100, 0.3);
		border-radius: 30px;
		box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.2), 0 0 5px rgba(0, 0, 0, 0.5)
	}
}

h1{
font-size: 40px;
}


</style>
	{% include header.tem %}

    <div id="main">
	<article>

		<div id="content">
			<h1><span class="event-title">{! event.name !}</span></h1>
            <div id="imgGrid">
			{% safe gridhtml %}
            </div>
		</div><div id="sidebar">
            <h3><strong>Description:</strong></h3>
            {! event.description !}
            <p>On <span class="event-date">{! event.date !}</span> At 
            <span class="event-venue">{! event.venue !}</span></p>
            <h3><strong>Attendees:</strong></h3>
            <ul id="userlist">
            {% for user in event.attendees %}
                <li>{! user.username !}<br/><span class="soft">{! user.firstname !} {! user.lastname !}</span></li>
            {% end for %}
            </ul>
            
            {% if uid %} 
            {% if not attending %}
            <div id="attending">
                <form method="post" action="/attend">
                    <input name='eventid' type="hidden" value="{! event.eventid !}" >
                    <input name='userid' type="hidden" value="{! uid !}" >
                    <input name="attendstatus" type="hidden" value='1'>
                    <button class="positive button" type="submit" id="attend_button"><span class="check icon"></span>Attend this event</button>
                </form>
            </div>
            {% else %}
            <div id="attending">
                <p>You are attending.
                <div id="attending">
                    <form method="post" action="/attend">
                    <input name='eventid' type="hidden" value="{! event.eventid !}" >
                    <input name='userid' type="hidden" value="{! uid !}" >
                    <input name="attendstatus" type="hidden" value='0'>
                    <button class="negative button" type="submit" id="attend_button"><span class="cross icon"></span>Unattend?</button>
                </form> </p>
                </div>
            </div>
            {% end if %}
            {% end if %}

            {% if event.hostid == uid %}
            <p>You are the creator of this event.</p>
            <p></p>
            <p><a href="/editevent/{! event.eventid !}">Edit Event?</a></p>
            <p></p>
            {% end if %}
            {% if uid and attending %}
                {% include eventpicuploader.html %}
            {% end if %}
            </div>
        </div>
	{% include footer.tem %}
</body>
</html>
