

<script type="text/javascript">
    function displayProgress(progress) {
        var progressBar = document.getElementById('upload_progress');
        if(progress.lengthComputable) {
            progressBar.max = progress.total;
            progressBar.value = progress.loaded;
        }
    }

    function handleStatusChange() {
        if(this.readyState == this.DONE) {
            if(this.status == 200) {
                // complete
                window.location = "/event/{! event.eventid !}"
            } else {
                // error
            }
        }
    }
</script>


        

        <p><h3>Upload Photos</h3></p>

        
        <form id="upload_form" action='/eventup' method='post' enctype='multipart/form-data'>
            <input class="button" type="file" multiple="multiple" name="uploads" >
            <input name='event' type="hidden" value="{! event.eventid !}" >
            <button type='submit' id="button"><span class="book icon"></span>Upload pictures</button>
        </form>

        <progress id="upload_progress" max="0" min="0"></progress>
        
<script type="text/javascript"> 
 $('#button').click(function(event) {
    event.preventDefault();
    var data = new FormData(document.getElementById('upload_form'));
    var request = new XMLHttpRequest();
    request.open("POST", "/eventup");
    request.upload.onprogress = displayProgress;
    request.onreadystatechange = handleStatusChange;
    request.send(data);
});
</script>
