<!DOCTYPE html>
<html>

<head>
<title>Event Creation - Eventify</title>
<link rel="stylesheet/less" type="text/css" href="/static/css/eventcreation.less"/>
        {% include imports.tem %}
        <link type="text/css" href="/static/date/css/vader/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
        <script type="text/javascript" src="/static/date/js/jquery-ui-1.8.17.custom.min.js"></script>
        <script>$(document).ready(function(){$("#dateselector").datepicker();});</script>
</head>
<body>
{% include header.tem %}
    <div id="main"><form method= "post" action= "/eventcreate">
        <p><label>Event Title: </label><input type="text" name="title"></p>
        <p><label>Event Date: </label><input id="dateselector" type="text" name="date"></p>
        <p><label>Event Venue: </label><input type="text" name="venue"></p>
        <p><label>Event Description: </label><input type="textarea" name="desc"></p>
        <p><button class="button" type="submit"><span class="book icon"></span>Create event</button></p>
    </form></div>
	{% include footer.tem %}
    </body>
</html>
