<html>
	<head>
		<title>{! user.name !} - Eventify</title>
	</head>
	<body>
		<!-- never put spaces in the filename -->
		{% include header.html %}

		<h1>{! user.name !}</h1>
		
		{% safe '<h1>Unescaped HTML</h1>' %}
		{! user.name !} has {! len(user.friends) !}friend
		{% if len(user.friends) > 1 %}s{% end if %}

		<br />

		{% for friend in user.friends %}
			<div>{! friend.name !}</div>
		{% end for %}

		{% include footer.html %}
	</body>
</html>
