<html>
    <head>
        <title>Profile - Eventify</title>
        <link rel="stylesheet/less" type="text/css" href="/static/css/profile.less"/>
        {% include imports.tem %}
    </head>

    <body>   
        {% include header.tem %}
        <div id='main'>
            <div id="content">
            <article id='Name'>
                <h1>{! user.firstname !} {! user.lastname !}</h1>
                
            <aside>
                <div id="slideshow">
                    {% if photos %}
                    {% safe photos %}
                    {% end if %}
                </div>
            </aside>
           
            </div><div id='sidebar'>
                {% if user.userid != uid %}
                    {% if user.userid in curfriends %}
                        <p>Friend already added</p>
                    {% else %}
                        <form method="post" action="/add_friend">
                            <input name='userid' type="hidden" value="{! user.userid !}" >
                            <button class="button" type="submit" id="add_friend"><span class="plus icon"></span>Add Friend</button>
                        </form>
                    {% end if %}
                {% end if %}
                <h3><strong>Friends:</strong></h3>
                {% if friends %}
                    {% for person in friends %}
                        <li><a href="/profile/{! person.userid !}">{! person.username !}</a></li>
                {% end for %}
                {% end if %}
                <aside id='Upcoming'>
                {% if all_events %}
                    <h3><strong>Attending Events</strong></h3>
                        <ul>
                            {% for event in all_events %}
                                <li><a href="/event/{! event.eventid !}" >{! event.name !}</a></li>
                            {% end for %}
                        </ul>
                {% else %}
                    <h2>You are not attending any events</h2>
                {% end if %}
            </aside>
            </div>
            
        </div>
        </article>
        
        {% include footer.tem %}
        </body>
</html>
        
