<h1>Search Results</h1>
<ol>
{% if len(results) %}
    {% for result in results %}
        <li>
            <a href="{! result.link !}"><h2>{! result.title !}</h2></a>
            {% if len(result.desc) %}
                <h3>{! result.desc !}</h3>
                <br />
            {% end if %}
        </li>
    {% end for %}
{% else %}
    <h2>No search results found.</h2>
{% end if %}
</ol>