<html>
    <head>
        <link rel="stylesheet/less" type="text/css" href="/static/css/search.less"/>
        <title>Search Results - Eventify</title>
        {% include imports.tem %}
    </head>
    <body>
        {% include header.tem %}
        <div id="main">
        {% include search_results.html %}
        </div>
        {% include footer.tem %}
    </body>
</html>
