<!DOCTYPE html>
<html>
<head>
<title>Sitemap - Eventify</title>

<link rel="stylesheet/less" type="text/css" href="/static/css/sitemap.less"/>
        {% include imports.tem %}        
    </head>    
            <body>
            
            {% include header.tem %}
            <div id="main">
            <ul>
            <h1>Sitemap</h1>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/editprofile">Edit Profile</a></li>
            <li><a href="/eventlist">Event</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/registration">Registration</a></li>
            <li><a href="/login">Login</a></li>
            </ul>
            </div>
            
            
            
            
            
            
            



{% include footer.tem %}
</body>

</html>


